<!-- SizeProButton.liquid -->

<div class="sizePro-container">
</div>

{% schema %}
{
"name":"PTI Size Button",
"class": "PTI_Size_Btn",
"target":"section",
"enabled_on": {
"templates": ["product"]

}
}
{% endschema %}